/* CYF CSS
---------------------------------------------------------------------------------------------------- */

.container{
  padding: 30px;
  }
  
  .border-decision-framework-pages {
  padding: 50px 30px;
  border-width:2px;
  border-style:solid;
  border-color:#D9D9D9;
  }
  
  .add-goal {
  margin-top: 20px;
  color: white;
  background-color: #36949d;
  }
  
  .question-mark-pages {
  height: 25px;
  padding-left: 5px;
  border: 0px;
  cursor: pointer;
  color: transparent;
  
  transition: filter .3s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%);
  }
  
  .question-mark-pages:hover {
  /* cursor:pointer; */
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
  }
  
  .question-mark-pages:focus{
  background-color: transparent;
  }
  
  .question-mark-button{
  border: none;
  background-color: transparent;
  }
  
  .question-mark-button:hover, .question-mark-button:focus:active{
  background-color: transparent;
  }

  /* Button back and next in the same line */
  
  #button-same-line
  {
    width:100%;
    text-align: center;
  }
  .inner
  {
    margin: 10px;
    display: inline-block;
  }

  /* Test of table */

  table, td, th {
    border: 1px solid;
    padding: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }

  .table-background{
    background-color: #D9D9D9;
  }