h1{
    font-family: "proxima-nova-condensed";
    font-size: 45px;
}
.header{
margin-top: 150px;   
margin-left: 75px; 
}
.tooltip-icon{
    width: 15px;
    margin-left: 8px;
}
/* .tooltip{
    position: absolute;
    top: 255px;
} */
.question-container{
    border: 1px solid gray;
    width: 500px;
}
.question{
    font-family: "proxima-nova";
    font-weight: 400px;
    font-size: 18px;
    margin-left: 20px;
}
form label {
    margin-left: 20px;
    
}
.radio-btn-section{
margin-bottom: 20px;
}
.btn-container{
    margin-top: 25px;
    position: absolute;
    left:20%
}
.btn-container button:last-child{
    margin-left: 20px;
}
button{
    background-color: #36939C;
    color: white;
    width: 50px;
    border: none;
    height: 25px;
}
.btn-tooltip{
    background-color: white;
}
.tooltip {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  background-color: lightgray;
  color: black;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 375px;
}

.tooltip.show {
  visibility: visible;
  opacity: 1;
}
.error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}