  

.circle{
    font-size:.95em;
    font-weight: bold;
    width:29px;
    height: 29px;
    line-height: 25px;
    background-color: #36949D;
    color:#ffff;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: none;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: flex;
  justify-content: center;
  align-items: center;
}


.stepWrapper{
    display: flex;
    margin-bottom:20px;
    text-align: center;
    display: flex; 
    align-items: center;

}

.stepBlock span {
    font-size: .9em;
}
.stepBlock .circleWrapper{
    padding:0 20px;
    position: relative;
    text-align: center;
}
/* 
.selected .circle{
    color:black;
    background: white;
    border-color:#36949D;
} */


.selected .circle{
  /* color:#055c64; */
 color:white;
  background: #36949D;
  border-color:#36949D;
  width:42px;
  height: 42px;
}

.grayed .circle{
  /* color:#055c64; */
  color:#36949D;
  background:white;
  /* background:#D4D4D4; */
  border-color:#36949D;
}



.stepBlock:not(:last-child) > .circleWrapper::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color:#36949D;
    margin: auto;
    z-index: -1;
  }
  
  .stepBlock:not(:last-child) > .circleWrapper::after {
    height: 3px;
  }
   */
 .stepBlock:not(:last-child).selected > .circleWrapper::after, .stepBlock:not(:last-child).selected ~ .stepBlock:not(:last-child) > .circleWrapper::after {
    height: 2px;
    opacity: 0.6;
  } 


  @media only screen and (max-width: 55.75em) {
    .stepBlock .circleWrapper{
        padding:0 5px;
        position: relative;
        text-align: center;
    }
}