  

.circle{
    font-size:.95em;
    width:29px;
    height: 29px;
    line-height: 25px;
    background-color: #36949D;
    color:#ffff;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}


.stepWrapper{
    display: flex;
    margin-bottom:20px;
    text-align: center;

}

.circleWrapper span {
    font-size: 1em;
    border: 1px navy solid;
}
.stepBlock .circleWrapper{
    padding:0 20px;
    position: relative;
    text-align: center;
}

.selected .circle{
    color:black;
    background: white;
    border-color:#36949D;
}

.stepBlock:not(:last-child) > .circleWrapper::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color:#36949D;
    margin: auto;
    z-index: -1;
  }
  
  .stepBlock:not(:last-child) > .circleWrapper::after {
    height: 3px;
  }
   */
 .stepBlock:not(:last-child).selected > .circleWrapper::after, .stepBlock:not(:last-child).selected ~ .stepBlock:not(:last-child) > .circleWrapper::after {
    height: 2px;
    opacity: 0.6;
  } 


